<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Produto 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Breve descrição do produto.
    </ion-card-content>
    
    <ion-button fill="clear">Comprar</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Produto 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Breve descrição do produto.
    </ion-card-content>
    
    <ion-button fill="clear">Comprar</ion-button>
  </ion-card>  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Produto 3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Breve descrição do produto.
    </ion-card-content>
    
    <ion-button fill="clear">Comprar</ion-button>
  </ion-card>
</ion-content>


