<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start"> Home </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showPerfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

      <ion-button (click)="showProdutos()">
        <ion-icon slot="icon-only" name="book"></ion-icon>
      </ion-button>

      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>